.container_width {
  width: 100%;
}

.toolbar {
  position: relative;
  float: right;
}

.center_container{
  width: 60%;
  height: 100vh;
  background-color: #61dafb;
  position: relative;
  float: left;
}

.information_container{
  width: 20%;
  height: 100vh;
  background-color: aquamarine;
  position: relative;
  float: left;
}

.information_center{
  width: 100%;
  height: 35%;
  position: relative;
  float: left;
  background-color: rgb(92, 142, 185);
}

.center{
  margin: auto;
  text-align: center;
}

.intro{
  margin-top: 10%;
  font-size: 200%;
}

.center_inputs{
  width: 60%;
  height: 35vh;
  background-color: #61fb75;
  position: absolute;
  align-items: center;
  left: 20%;
}

.recipe_box{
  width: 33%;
  height: 40vh;
  position: relative;
  float: left;
  border: #000000;
  border-width: 1px;
  border-style: solid;
  background-color: #fb61ee;
}

#intro{
  height: 25%;
}

.indent{
  padding-left: 5%;
  padding-right: 5%;
}