.container_width {
  width: 100%;
}

.toolbar {
  position: relative;
  float: right;
}

.center_container{
  width: 60%;
  height: 100vh;
  background-color: #f8f8f8;
  position: relative;
  float: left;
}

.information_container{
  width: 20%;
  height: 100vh;
  background-color: #e6e8f8;
  position: relative;
  float: left;
  
}

.information_center{
  width: 100%;
  height: 35%;
  position: relative;
  float: left;
  background-color: #f8f8f8;
}

.recipe_center{
  width: 100%;
  height: 70%;
  position: relative;
  float: left;
  background-color: rgb(246, 247, 248);
}

.center{
  margin: auto;
  text-align: center;
}

.intro{
  margin-top: 10%;
  font-size: 200%;
}

.center_inputs{
  width: 60%;
  height: 35vh;
  position: absolute;
  align-items: center;
  left: 20%;
  border: #6a1cb877;
  border-width: 1px;
  border-style: solid;
  background-color: #f8f8f8;
}

.recipe_box{
  width: 33.3%;
  height: 40vh;
  position: relative;
  float: left;
  outline: 1px solid;
  outline-color: #6a1cb877;
  background-color: #f8f8f8;
}

#intro{
  height: 25%;
}

.indent{
  padding-left: 5%;
  padding-right: 5%;
}